<div class="loading-info" ng-hide="readyToPlay">
  <div class="loading-status-wrapper">
    <div class="loading-status">
      Loading <strong>Music</strong> from Rdio
        <span class="dotdotdot" ng-class="{waiting: !rdioReady}"><span>.</span></span>
        <strong ng-show="rdioReady">DONE</strong><br/>

      Loading <strong>Metadata</strong> from EchoNest
      <span class="dotdotdot" ng-class="{waiting: !echoNestReady}"><span>.</span></span>
      <strong ng-show="echoNestReady">DONE</strong><br/>

      Loading <strong>GIFs</strong> from Tumblr
      <span class="dotdotdot" ng-class="{waiting: !tumblrReady}"><span>.</span></span>
      <strong ng-show="tumblrReady">DONE</strong><br/>
    </div>
    <div class="smaller">SPACE to pause. ENTER to skip.</div>
  </div>
</div>

<div class="playback" ng-show="readyToPlay">
  <div id="image-holster" class="frame-0" ng-controller="GifPlaybackCtrl">
    <div class="frame" ng-repeat="frame in frames" ng-style="{'background-image': 'url(' + frame.url + ')}"/>
  </div>

  <ul class="track-listing">
    <li ng-repeat="track in player.playlist" ng-class="{'current-track': $index == player.currentTrackIndex}">
      {{track.artist}} - {{ track.name }}
    </li>
  </ul>
</div>

<div ng-if="rdioPlaylistId" rdio-swf></div>
