
<div class="banner-header">
  <h1>DJ Gif</h1>
</div>

<form ng-submit="startSet()"
      class="start-form">

  <label>
    Enter an rdio key
    <input required type="text" ng-model="rdioPlaylistId"/>
  </label>

  <label>
    Enter a tumblr, comma-separated (e.g. 'dvdp,rekall')
    <input required type="text" ng-model="tumblrNames"/>
  </label>

  <button type="submit">
    PARTY
  </button>
</form>

<div id="image-holster" class="frame-0" ng-controller="GifPlaybackCtrl">
  <img ng-repeat="frame in frames" ng-src="{{frame.url}}"/>
</div>

<div ng-if="isPlaying" rdio-swf></div>


<ul class="track-listing">
  <li ng-repeat="track in player.playlist" ng-class="{'current-track': $index == player.currentTrackIndex}">
    {{track.artist}} - {{ track.name }}
  </li>
</ul>

<div class="beat-vis"></div>

