.coming-soon {
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
  background-color: black;
}

.coming-soon-headline {
  text-shadow: 0 0 4px black;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Las Enter Personal Use Only";
  h1 {
    font-size: 96px;
    font-weight: 100;
    .thick {
      font-weight: 900;
    }
    .thicker {
      font-weight: 500;
    }
  }
  h2 {
    font-size: 64px;
  }
}

.coming-soon-attribution {
  font-size: 12px;
  display: table-row;
  height: 1.5em;
  color: #808080;
}

.smaller {
  font-size: 0.8em;
  padding-top: 2em;
}
