body, html { height: 100%; }
body {
  background: black no-repeat;
  color: white;
  font: 300 16pt 'Helvetica Neue', 'Arial Narrow', sans;
}

.start-form {
  label {
    display: block;
  }
}

.gif-party {
  display: none;
}

.track-listing {
  list-style: none;
}

.current-track {
  font-weight: bold;
  &::before {
    content: '*'
  }
}
