.gif-test {
  min-height: 100%;
  background-color: white;
  color: black;

  #image-holster {
    height: auto;
    width: auto;
    img {
      height: auto;
    }
  }
}

#beat-indicator {
  display: inline-block;
  height: 40px;
  width: 300px;
  border: 0px solid black;
}
