#image-holster {
  position: relative;
  width: 100vw;
  height: 100vh;

  img.frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateZ(0);
  }
  div.frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: translateZ(0);
  }
  @for $i from 0 to 100 {
    &.frame-#{$i} {
      .frame:nth-child(n + #{2 + $i}) {
        opacity: 0;
      }
    }
  }
}
